<!DOCTYPE html>
<html lang="en">
<body>
    <main>
        <div class="row">
            <div class="col-md-3">
                <h2>Initial</h2>
                <h5>
                    <a class="btn btn-primary" asp-controller="Settings" asp-action="PropertyDetails">&raquo; Property details</a>
                </h5>
                <h5>
                    <a class="btn btn-primary" asp-controller="Settings" asp-action="RoomTypes">&raquo; Room types</a>
                </h5>
                <h5>
                    <a class="btn btn-primary" asp-controller="Settings" asp-action="HotelRooms">&raquo; Hotel rooms</a>
                </h5>
                <h5>
                    <a class="btn btn-primary" asp-controller="Settings" asp-action="Currency">&raquo; Currency</a>
                </h5>
                <h5>
                    <a class="btn btn-primary" asp-controller="Settings" asp-action="TaxSettings">&raquo; Tax settings</a>
                </h5>
                <h5>
                    <a class="btn btn-primary" asp-controller="Settings" asp-action="DiningPackages">&raquo; Dining packages</a>
                </h5>
                <h5>
                    <a class="btn btn-primary" asp-controller="Settings" asp-action="Rates">&raquo; Rates</a>
                </h5>
                <h5>
                    <a class="btn btn-primary" asp-controller="Settings" asp-action="BillingTemplate">&raquo; Billing templates</a>
                </h5>
                <h5>
                    <a class="btn btn-primary" asp-controller="Settings" asp-action="TaxSettings">&raquo; Users profiles</a>
                </h5>
            </div>
            <div class="col-md-3">
                <h2>Common</h2>
                <h5>
                    <a class="btn btn-primary" asp-controller="Settings" asp-action="GuestFields">&raquo; Guest fields</a>
                </h5>
                <h5>
                    <a class="btn btn-primary" asp-controller="Settings" asp-action="ReservationFields">&raquo; Reservation fields</a>
                </h5>
                <h5>
                    <a class="btn btn-primary" asp-controller="Settings" asp-action="WarrantyPolicies">&raquo; Warranty policies</a>
                </h5>
                <h5>
                    <a class="btn btn-primary" asp-controller="Settings" asp-action="HotelPolicies">&raquo; Hotel policies</a>
                </h5>
            </div>
            <div class="col-md-3">
                <h2>Household</h2>
                <h5>
                    <a class="btn btn-primary" asp-controller="Settings" asp-action="Tasks">&raquo; Tasks</a>
                </h5>
                <h5>
                    <a class="btn btn-primary" asp-controller="Settings" asp-action="HousekeepersRooms">&raquo; Housekeeper's rooms</a>
                </h5>
                <h5>
                    <a class="btn btn-primary" asp-controller="Settings" asp-action="HeatingSchedule">&raquo; Heating schedule</a>
                </h5>
                <h5>
                    <a class="btn btn-primary" asp-controller="Settings" asp-action="NotificationsCenter">&raquo; Notifications center</a>
                </h5>
                <h5>
                    <a class="btn btn-primary" asp-controller="Settings" asp-action="Issues">&raquo; Issues</a>
                </h5>
            </div>
            <div class="col-md-3">
                <h2>Information</h2>
                <h5>
                    <a class="btn btn-primary" asp-controller="Settings" asp-action="CommonQuestions">&raquo; Common questions</a>
                </h5>
                <h5>
                    <a class="btn btn-primary" asp-controller="Settings" asp-action="Forum">&raquo; RevolutionPMS forum</a>
                </h5>
                <h5>
                    <a class="btn btn-primary" asp-controller="Settings" asp-action="NewFunctionalities">&raquo; New functionalities</a>
                </h5>
                <h5>
                    <a class="btn btn-primary" asp-controller="Settings" asp-action="NotificationsCenter">&raquo; Create a ticket:</a>
                </h5>
            </div>
        </div>
    </main>
</body>
</html>