@model PropertyTypeViewModel

<div class="col-md-4">
    <div class="card mb-4">
        <div class="card-body text-center">
            <h4>@Model.Name</h4>

            @*<div class="row">
                <div class="col">
                    <a asp-controller="Truck" asp-action="Details" asp-route-id="@Model.Id"
                       class="btn btn-success" style="background-color: blue">Details</a>
                </div>
                <div class="col">
                    <form>
                        <input asp-controller="Truck" asp-action="Drive" asp-route-id="@Model.Id"
                               class="btn btn-success" type="submit" value="Drive this truck" style="background-color: green" />
                    </form>
                </div>
            </div>*@
        </div>
    </div>
</div>